/* ===== EASY CUSTOMIZATION ===== */
/* Change the background image URL below */
:root {
  --ak-flow-background: url(https://cloud.wallsflow.com/posts/2025-03/9c6a03e5f6_neon-drift-racer-midnight-tokyo-4k-live-wallpaper-download.webp);
  --ak-social-separator-text: "Continuer avec";
  --ak-accent: #d0ced0;
}
